/* styles.css */

/* Styles généraux */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1, h2, h3 {
    font-weight: bold;
}

/* Chemin de navigation */
.chemin {
    margin-top: 20px;
    font-weight: bold;
}

.chemin a {
    text-decoration: none;
    color: blue;
}

.chemin a:hover {
    text-decoration: underline;
}

/* Sous-catégories */
.sous-categories {
    border: 1px solid black;
    padding: 10px;
    margin-top: 10px;
}

.sous-categories h3 {
    margin-bottom: 10px;
}

.sous-categories ul {
    list-style-type: disc;
    margin-left: 20px;
    padding: 0;
}

.sous-categories li a {
    text-decoration: none;
    color: black;
}

.sous-categories li a:hover {
    color: blue;
}

/* Liste des recettes */
.recettes {
    border: 1px solid black;
    padding: 10px;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.recette {
    position: relative; /* Pour que les éléments enfants puissent se positionner relativement à la recette */
    padding: 20px;
    border: 1px solid #ccc;
    margin: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.recette h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.recette ul {
    list-style-type: none;
    padding: 0;
    text-align: left;
}

.recette img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

button {
    cursor: pointer;
    font-size: 1.5em;
    border: none;
    background: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 1.8em;
}

nav {
    margin-left: auto;
}

.recette h2 button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
}
.recette h2 button:hover {
    transform: scale(1.1);
}

.btn-favorites {
    text-decoration: none;
    padding: 10px 15px;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-favorites:hover {
    background-color: #0056b3;
}

.favorite-form {
    position: absolute;
    top: 10px;
    right: 10px;
}

.btn-heart {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: red;
    transition: transform 0.2s ease;
}

.btn-heart:hover {
    transform: scale(1.2); /* Effet visuel au survol */
}

